#about-me {
    background-color: #63B8FF;
    color: white;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

.about-me-img {
    border-radius: 2%;
    height: 300px;
    width: 300px;
}

#projects {
    background-color: #F0F8FF;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

#projects img {
    height: 210px;
}

#contact {
    background-color: #63B8FF;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

#contact h1 {
    color: white;
}

.card-body a:hover {
    transform: scale(1.5);
    
}